@{
    ViewData["Title"] = "Account Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims

<h2>Son of Cod Seafood</h2>
<h3>Admin Access Only</h3>
<hr />



    <h4>@Html.ActionLink("Register A New Admin", "Register")</h4>
    <h4>@Html.ActionLink("Mailing List", "MailingList")</h4>
    <h4>@Html.ActionLink("Home", "Index", "Home")</h4>
