@{
    ViewData["Title"] = "Son of Cod Seafood";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <h2>Welcome</h2>
    <h3>Good stuff at Great Prices</h3>
    <p>
        Pejerrey round stingray shovelnose sturgeon, whitetip reef shark, dogteeth tetra yellowtail deepwater flathead! Southern grayling blue danio combfish, "staghorn sculpin silverside Black angelfish: brotula hoki." Stingfish slender snipe eel false trevally creek chub carpsucker, "sargassum fish mustard eel mullet New World rivuline, airbreathing catfish." Herring shark: jewel tetra pomfret, smoothtongue, sockeye salmon crocodile shark, "manefish Pacific hake." Channel catfish saury nurse shark.

        Hawkfish; North American freshwater catfish red snapper paperbone hairtail. Knifefish Reef triggerfish mooneye spiderfish mola; finback cat shark blue eye sailbearer leaffish sprat dogfish shark. Yellowhead jawfish, grunt Dolly Varden trout greeneye, bonytongue Redhorse sucker yellowtail barracuda trumpeter. Longfin? Colorado squawfish inanga atka mackerel gombessa brown trout peacock flounder? Sea bass riffle dace discus fusilier fish bandfish Reedfish yellowtail barracuda olive flounder mackerel mail-cheeked fish. Striped burrfish? Pearl danio conger eel firefish, kahawai lagena eelpout sleeper shark, river shark.
    </p>


    <h3 class="click-me">@Html.ActionLink("Sign up for our Newsletter!", "NsSignUp")</h3>


