@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>@Html.ActionLink("Admin Log In", "Login")</p>
<p>@Html.ActionLink("Sign up for our Newsletter!", "NsSignUp")</p>

