@{
    ViewData["Title"] = "Newsletter Sign Up";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Cod.Models.Newsletter

<h2>Thanks for signing up @Html.DisplayFor(m => m.Name)!</h2>
<h3>You will be hearing from us soon.</h3>
<hr />
